.jumbotron {
    background-color: #428bca;
}

.jumbotron2 {
    background-color: red;
}

.jumbotron h1{
    color: white;
}

p,
h1,
h4 {
    font-family: 'Roboto Slab', serif;
}

#funText {
    color: black;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

#box {
    height: 100px;
    width: 100p;
    margin: auto;
    padding: 3px;
}

.test-css-class {
    border: 120px solid red;
}

.another-fake-class {
    padding: background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(red));
    background-image: -webkit-linear-gradient(top, blue, red);
    background-image: -moz-linear-gradient(top, blue, red);
    background-image: linear-gradient(to bottom, blue, red);
}

.jumbotronafdsa{
    color: black;
}